/* src/components/Footer.css */
.footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    width: 100%;
    max-width: 800px;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
}

.social-icons img:hover {
    filter: brightness(0.8);
}

.footer p {
    margin: 10px 0;
}
